*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
.logo{
    height: 116.38px;
}

img[src="/images/logo-header.png"]{
    width: 50px;
}

.dropdown-toggle::after {
    content: none !important;
}

header .container-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;

}

header nav ul{
    display: flex;

}

header nav li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;

}

div.dropdown li{
    display: inherit;
    padding: 0px !important;
}

.dropdown-menu {
    min-width: 15rem !important;
}

.btn{
    border: none !important;
}

:root {
    --bs-link-hover-color: none !important;
}

header nav li a{
    text-decoration: none;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
 

}
/* Button */
header nav li button{
    background-color: #4AE275;
    border-radius: 8px; 
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    padding: 10px;

}

/* All container */
section .presentation-box{
    display: flex;
    margin: auto;
    width: 90%;

}

section .presentation-box .main-image{
    width: 686px;
    height: 517.99px;

}

/* Only text */
section .text-presentation{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Inter';
    font-style: normal;
    width: 90%;

}


section .text-presentation h1{
    font-weight: 800;
    font-size: 60px;
    color: #4AE275;
    padding: 15px 0 0 0;

}

section .text-presentation h3{
    font-weight: 500;
    font-size: 20px;
    color: #474A48;
    padding: 15px 0 15px 0;

}

/* Button */
section .text-presentation button{
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    background: #42EE73;
    border-radius: 9px;
    padding: 15px;
    border: none;

}



main{    
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    padding-top: 55px;
    
}

/* Only text */
main .title-box h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding-top: 46px;
    padding-bottom: 10px;
    color: #02D23D;
    border-top: 1px solid #585858;

}

main .title-box p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;

}

/* Blocks container */
main .content-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
    padding-top: 57px;
    padding-bottom: 50px;

}

main .html-box{
    border: 3px solid #000000;
    padding: 17px;  

}

main .content-box .html-box h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    
    color: #000000;

}

main .content-box .html-box p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
 
    color: #000000;

}

main .css-box{
    border: 3px solid #000000;
    padding: 17px;

}

main .content-box .css-box h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    
    color: #000000;

}

main .content-box .css-box p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    
    color: #000000;

}

main .js-box{
    border: 3px solid #000000;
    padding: 17px;  

}

main .content-box .js-box h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    
    color: #000000;

}

main .content-box .js-box p{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    
    color: #000000;

}

section.faq{
    width: 90%;
    margin: auto;

}

section.faq .grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #000000;
    gap: 30px 20px;
    padding: 50px 0 50px 0;

}

section.faq h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    
    color: #02D23D;
    padding-top: 46px;
    border-top: 1px solid #000000;
    margin: auto;

}

section .first-quote h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;

    color: #000000;

}

section .first-quote p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    
    color: #000000;

}
section .second-quote h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    
    color: #000000;

    
}

section .second-quote p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    
    color: #000000;

}

section .third-quote h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    
    color: #000000;

    
}
section .third-quote p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    
    color: #000000;

}

section .fourth-quote h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    
    color: #000000;

    
}

section .fourth-quote p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;  
    color: #000000;

}



footer .footer-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 15px 0;

}
footer .footer-container .images{
    display: flex;
    justify-content: center;
    align-items: center;

}

footer img{
    width: 78px;
    height: 78px;

}

footer .footer-container a{
    text-decoration: none;
    padding: 50px;
    
}


footer .footer-container p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    padding-top: 75px;
    padding-bottom: 30px;
    text-align: center;
    
    color: #000000;

}

/* Modal */

.modal{
    font-family: 'Inter';
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top:0;
    left: 0;

    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    opacity: 0;
    padding: 20px;
    visibility: hidden;
    border-radius: 9px;
}

.modal-login h1{
    padding-bottom: 40px;
    color: #02D23D;
    font-weight: 600;
}

.modal-login input{
    border-style:initial;
    border-bottom: 2px solid rgb(95, 95, 95);
    font-size: 20px;
}

.modal-login input:focus{
    outline: 0;
}

.modal-login input[type="submit"]{
    background-color: #02D23D;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 6px;
    margin-top: 30px;
}

.modal-login.active{
    opacity: 1;
    visibility: visible;
}
.modal .modal-login button{
    position: relative;
    top: -20px;
    left: 300px;
    padding: 10px;
    background-color: white;
    border: none;
  
    font-size: 20px;

}

.modal-content{
    display: flex;
    flex-direction: column;
}

.modal-content input{
    margin: 10px;
    padding: 10px;
}